<div class="footer"
     id="footer">
    <p>
        <span class="my-face">Copyright © 2024 <a class="flink"
           href="https://github.com/FuyukiVila/hikari.fuyuki.fun">イルミネーション</a> · Theme by <a class="flink"
           href="https://github.com/FuyukiVila/hexo-theme-geek">Geek</a>.</span>
        <br>
        Made with <i class="fa fa-heart throb"
           style="color:#d43f57"></i> by <span class="author"
              itemprop="copyrightHolder"><a class="flink" href="https://github.com/fuyukivila">Fuyuki_Vila</a></span>.
        <label class="el-switch el-switch-green el-switch-sm"
               style="vertical-align: sub;">
            <!-- <input type="checkbox"
                   name="switch"
                   id="update_style">
            <span class="el-switch-style"></span> -->
            <label class = "nes-pointer">
                <input type="checkbox" class="nes-checkbox" id = "update_style"/>
                <span>Good Night</span>
            </label>
        </label>
    </p>
</div>

<a href="javascript:void(0);" class="back-to-top" target="_self"></a>

<input type="hidden"
       id="web_style"
       value="<%= theme.style %>">
<input type="hidden"
       id="valine_appid"
       value="<%= theme.valine.appId %>">
<input type="hidden"
       id="valine_appKey"
       value="<%= theme.valine.appKey %>">
<script src="https://cdn.jsdelivr.net/npm/valine@1.4.14/dist/Valine.min.js"></script>
<% if (theme.cdn.enabled && env.cmd === "generate") { %>
    <script src="<%= theme.cdn.url %>/libs/jquery.min.js"></script>
    <script src="<%= theme.cdn.url %>/libs/highlight/highlight.pack.js"></script>
    <script src="<%= theme.cdn.url %>/js/js.js"></script>
    <script src="<%= theme.cdn.url %>/js/power.js"></script>
    <link rel="stylesheet" type="text/css" href="<%= theme.cdn.url %>/css/heimu.css">
    <script src="<%= theme.cdn.url %>/js/autoload.js"></script>
<% } else { %>
  <%- js('libs/jquery.min.js') %>
  <%- js('libs/highlight/highlight.pack.js') %>
  <%- js('js/js.js') %>
  <%- js('js/power.js') %>
  <%- css('css/heimu.css') %>
  <%- js('js/autoload.js') %>
<% } %>
<style type="text/css">
    .v * {
        /* color: #698fca; */
    }

    .v .vlist .vcard .vhead .vsys {
        color: #3a3e4a;
    }

    .v .vlist .vcard .vh .vmeta .vat {
        color: #638fd5;
    }

    .v .vlist .vcard .vhead .vnick {
        color: #6ba1ff;
    }

    .v a {
        color: #8696b1;
    }

    .v .vlist .vcard .vhead .vnick:hover {
        color: #669bfc;
    }

    .v .vcards .vcard .vhead .vnick {
        padding-left: 1px;
    }

    .v .vcontent .vemoji {
        max-width: 30px;
    }

    .v[data-class=v] p {
        color: inherit;
    }

</style>

<!-- Load TweenLite -->
<script src="https://cdn.jsdelivr.net/npm/greensock@1.20.2/dist/TweenLite.js"></script>

<!-- Load Pixi (dependency for cubism 2/4 integrated loader) -->
<script src="https://cdn.jsdelivr.net/npm/pixi.js@5.3.6/dist/pixi.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/huangwb8/bloghelper@latest/css/myface.css" />

<!--鼠标样式-->
<!-- <style type="text/css">
    #cursor {
        position: fixed;
        width: 16px;
        height: 16px;
        background: #009688;
        border-radius: 8px;
        opacity: 0.25;
        z-index: 10086;
        pointer-events: none;
        transition: 0.2s ease-in-out;
        transition-property: background, opacity, transform
    }

    #cursor.hidden {
        opacity: 0
    }

    #cursor.hover {
        opacity: 0.1;
        transform: scale(2.5)
    }

    #cursor.active {
        opacity: 0.5;
        transform: scale(0.5)
    }

    #clickME {
        cursor: pointer;
        display: inline-block;
        border: 1px solid #009688
    }
</style>
<script src="https://fastly.jsdelivr.net/gh/huangwb8/bloghelper/mouse/halo-dream/fairyDustCursor.min.js"></script> -->
<!--鼠标样式结束-->