<!--
　／l、  

（ﾟ､ 。 ７ 

 　l、 ~ヽ 

　じしf_, )ノ​                                                                         
-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <title><%= page.title ? `${page.title} - ${config.title}` : config.title %></title>
    <% if (theme.cdn.enabled && env.cmd === "generate") { %>
      <link rel="stylesheet" href="<%= theme.cdn.url %>/css/style.css">
      <link rel="stylesheet" href="<%= theme.cdn.url %>/libs/highlight/styles/monokai-sublime.css">
      <link rel="stylesheet" href="<%= theme.cdn.url %>/libs/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="<%= theme.cdn.url %>/libs/zpix/zpix.css">
      <script src="<%= theme.cdn.url %>/js/theme.js"></script>
    <% } else { %>
      <%- css('css/style') %>
      <%- css('libs/highlight/styles/monokai-sublime.css') %>
      <%- css('libs/font-awesome/css/font-awesome.min.css') %>
      <%- css('libs/zpix/zpix.css') %>
      <%- js('js/theme.js') %>
    <% } %>
    <style>
      body {
        font-family: 'Zpix', serif;
      }
    </style>
    <script>
      window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
      window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
    <script defer src="/_vercel/speed-insights/script.js"></script>
</head>